@use "../abstracts/variables";
@use "../base/colors";
@import "../base/typography";

.input-group {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-sm;
}

.input-group textarea {
  padding: variables.$spacing-sm;
  border-radius: variables.$radius-sm;
  border: none;
  background-color: colors.$divider-background;
  color: colors.$text-caption;
  caret-color: colors.$brand;
  width: 144px;
  resize: none;

  @include base1-semibold;
}

.input-group svg {
  cursor: pointer;
}

.input-group.input-fixed {
  padding: variables.$spacing-x-sm;
  justify-content: flex-start;
  width: 232px;

  @include body1-medium;
}
