@use "../abstracts/variables";
@use "../base/colors";
@import "../base/typography";

.role-pill-desktop {
  display: inline-flex;
  padding: variables.$spacing-xx-sm variables.$spacing-md;
  justify-content: center;
  align-items: center;
  gap: variables.$spacing-x-sm;
  border-radius: variables.$radius-xxx-lg;

  @include base1-semibold;
}

.component-set {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
  width: auto;
}

.default {
  color: colors.$text-secondary;
  background-color: colors.$pure-white;
}

.hover {
  color: colors.$switch-label-primary;
  background-color: colors.$pure-white;
}

.hover-darkMode {
  color: colors.$switch-label-primary-darkMode;
  background-color: colors.$pure-white;
}

.active-darkMode {
  background-color: colors.$switch-pill-background-darkMode;

  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.49) inset,
    0px 2px 1px 0px rgba(255, 255, 255, 0.06) inset,
    0px 4px 8px -4px rgba(0, 0, 0, 0.25);

  color: colors.$switch-label-primary-darkMode;
}

.active-pill {
  background-color: colors.$switch-pill-background;

  box-shadow: 0px -1px 1px 0px rgba(0, 0, 0, 0.04) inset,
    0px 2px 0px 0px rgba(255, 255, 255, 0.25) inset,
    0px 4px 8px -4px rgba(0, 0, 0, 0.25);

  color: colors.$switch-label-primary;
}

#Role-Pill-Desktop button {
  border: none;
  cursor: pointer;
}
