@use "/src/sass/abstracts/variables";
@use "/src/sass/base/colors";
@import "/src/sass/base/typography";

.select-menu {
  @include base2;
}

.select-menu .select-menu-title {
  display: flex;
  align-items: center;
  gap: variables.$spacing-xx-sm;
  margin-bottom: variables.$spacing-sm;
}

.select-menu .select-btn {
  display: flex;
  padding: variables.$spacing-sm;
  align-items: center;
  justify-content: space-between;

  border-radius: variables.$radius-sm;
  border: 1px solid colors.$dropdown-shade;
  color: colors.$dropdown-label-idle;
  background: colors.$dropdown-background-active;

  cursor: pointer;
}

.select-menu.active .select-btn {
  display: flex;
  padding: variables.$spacing-sm;
  align-items: center;
  justify-content: space-between;

  border: 1px solid colors.$dropdown-shade;
  color: colors.$dropdown-label-idle;
  background: colors.$dropdown-background-active;

  cursor: pointer;
}

.sBtn-text {
  margin-right: variables.$spacing-md;
}

.select-btn svg {
  transition: 0.3s;
}

.select-menu.active {
  border-bottom-left-radius: variables.$radius-sm;
  border-bottom-right-radius: variables.$radius-sm;
}

.select-menu.active .select-btn svg {
  transform: rotate(-180deg);
}
.select-menu .options {
  position: relative;
  padding: variables.$spacing-none;
  border-bottom-left-radius: variables.$radius-sm;
  border-bottom-right-radius: variables.$radius-sm;
  background: colors.$dropdown-background-idle;
  border: 1px solid colors.$dropdown-shade;
  display: none;
}
.select-menu.active .options {
  display: block;
}

.select-menu.active .select-btn {
  border-bottom-left-radius: variables.$radius-sharp;
  border-bottom-right-radius: variables.$radius-sharp;
}

.options .option {
  display: flex;
  cursor: pointer;
  padding: variables.$spacing-sm;
  align-items: center;
  background: colors.$dropdown-background-idle;
}
.options .option:hover {
  background: colors.$dropdown-shade;
}

.option .option-text {
  color: colors.$dropdown-label-idle;
}

ul > li:last-child {
  border-bottom-left-radius: variables.$radius-sm;
  border-bottom-right-radius: variables.$radius-sm;
}
